<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>form page</title>
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/user" method="post">
        <p><label for="email">email: <input type="email" name="email"></label></p>
        <p><label for="firstName">First Name: <input type="text" name="firstName"></label></p>
        <p><label for="lastName">Last Name: <input type="text" name="lastName"></label></p>
        <p><label for="pswd">Password: <input type="password" name="pswd"></label></p>
        <p><label for="pswdc">Pswd conf: <input type="password" name="pswdc"></label></p>

        <input type="submit">
    </form>
</div>
</body>
</html>
